:root {
  --primary-color: #09fcfd;
  --secondary-color: #510303;
  --size-unit: 64px;
  --ships-animation-time: 200ms;
  --explosions-animation-time: 600ms;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  position: relative;
}

.information {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 32px;
  z-index: 2;
  position: relative;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal__text {
  font-size: 42px;
  text-align: center;
}

.modal__button {
  padding: 30px 15px;
  background-color: transparent;
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  font-size: 42px;
  margin-top: 20px;
  outline: none;
  transition: box-shadow 0.1s ease-in;
}
.modal__button:hover {
  box-shadow: 0px 0px 20px 5px var(--primary-color);
}

.spaceship {
  width: var(--size-unit);
  height: var(--size-unit);
  background-image: url('../images/ship.png');
  animation: move-8-units-X var(--ships-animation-time) steps(8) infinite;
  left: 0;
  position: fixed;
}
.enemy {
  width: var(--size-unit);
  height: var(--size-unit);
  background-image: url('../images/enemy.png');
  animation: move-5-units-X var(--ships-animation-time) steps(5) infinite;
  z-index: 1;
  position: fixed;
}
.enemy--big {
  width: calc(var(--size-unit) * 2);
  height: calc(var(--size-unit) * 2);
  background-image: url('../images/enemy-big.png');
  animation: move-16-units-X var(--ships-animation-time) steps(8) infinite;
  position: fixed;
}
.explosion {
  width: var(--size-unit);
  height: var(--size-unit);
  background-image: url('../images/explosion.png');
  animation: move-17-units-X var(--explosions-animation-time) steps(17) forwards;
  position: fixed;
}
.explosion--big {
  width: calc(var(--size-unit) * 2);
  height: calc(var(--size-unit) * 2);
  background-image: url('../images/explosion-big.png');
  animation: move-34-units-X var(--explosions-animation-time) steps(17) forwards;
  position: fixed;
}

.missile {
  background-image: url('../images/missile.png');
  background-size: cover;
  width: 12px;
  height: 24px;
  position: absolute;
}

@keyframes move-8-units-X {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: calc(var(--size-unit) * -8);
  }
}
@keyframes move-5-units-X {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: calc(var(--size-unit) * -5);
  }
}
@keyframes move-16-units-X {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: calc(var(--size-unit) * -16);
  }
}
@keyframes move-17-units-X {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: calc(var(--size-unit) * -17);
  }
}
@keyframes move-34-units-X {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: calc(var(--size-unit) * -34);
  }
}

.hide {
  display: none;
}

.hit {
  background-color: var(--secondary-color);
}
.ultimate {
  background: linear-gradient(0deg, rgba(0,0,0,1) 38%, rgba(0,242,205,1) 100%);
}

.start__modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  top: 0;
  left: 0;
  min-height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.start__modal h2 {
  font-size: 80px;
  color: var(--primary-color);
}
.start__modal p {
  margin: 15px 0px;
  color: var(--primary-color);
}
.startSpan {
  color: white;
}
.start-game {
  padding: 20px 12px;
  background-color: transparent;
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  font-size: 42px;
  margin-top: 20px;
  outline: none;
  transition: box-shadow 0.1s ease-in;
  margin-top: 60px;
}
.start-game:hover {
  box-shadow: 0px 0px 20px 5px var(--primary-color);
}